<h3>Liste des projets</h3>
<a class="btn btn-success" routerLink="/projets/nouveau">Ajouter nouveau projet</a>
<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Date</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="isLoading">
           <td colspan="6">Loading projects...</td>
        </tr>
        <tr *ngFor="let p of projects">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.description}}</td>
            <td>{{p.creationDate.date | date:'d/MM/y'}}</td>
            <td>{{p.type.title}}</td>
            <td>
                <a class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
    </tbody>
</table>
