<h3>{{title}}</h3>
<a class="btn btn-success" routerLink="/projets">Retourner à la liste des projets</a>
<br>
<form [formGroup]="form" (ngSubmit)="postProject()">
  <div class="form-group">
    <label for="title">Titre</label>
    <input id="title" type="text" class="form-control" formControlName="title">
    <div *ngIf="form.controls.title.touched && form.controls.title.errors">
      <div
        *ngIf="form.controls.title.errors.required"
        class="alert alert-danger">
        Le titre est obligatoire.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="projectDate">Date de lancement</label>
    <input id="projectDate" type="text" class="form-control" formControlName="projectDate" >
    <div *ngIf="form.controls.projectDate.touched && form.controls.projectDate.errors">
      <div
        *ngIf="form.controls.projectDate.errors.required"
        class="alert alert-danger">
        Le date est obligatoire.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="type">Type <span *ngIf="typesLoading">(Chargement des types...)</span></label>
    <select id="type" type="text" class="form-control" formControlName="type" >
      <option *ngFor="let t of types" [value]="t.id">{{t.title}}</option>
    </select>
    <div *ngIf="form.controls.type.touched && form.controls.type.errors">
      <div
        *ngIf="form.controls.type.errors.required"
        class="alert alert-danger">
        Le type de projet est obligatoire.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" type="text" class="form-control" formControlName="description">
  </div>
  <button #btnSubmit type="submit" class="btn btn-success" [disabled]="!form.valid">Enregistrer</button>
</form>
