<h3>Traqueur des projets</h3>
<a class="btn btn-success" routerLink="/traqueur/nouveau">Nouvelle intervention</a>
<hr>
<div class="alert alert-danger" *ngIf="errorMsg != null" [innerHTML]="errorMsg"></div>
<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Projet</th>
            <th>Jour</th>
            <th>Temps (Heure)</th>
            <th>Type d'intervention</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="isLoading">
          <td colspan="6">Loading des interventions</td>
        </tr>
        <tr *ngIf="!isLoading && list.length == 0">
          <td colspan="6">Pas d'intervention pour le moment!</td>
        </tr>
        <tr *ngFor="let i of list" id="tr_{{i.id}}" @fade>
            <td>{{i.project.title}}</td>
            <td>{{i.interventionDate.date | date:'dd/MM/y'}}</td>
            <td class="text-center">{{i.numberHours}}</td>
            <td>{{i.type.title}}</td>
            <td>{{i.description}}</td>
            <td>
                <a class="btn btn-success" routerLink="/traqueur/{{i.id}}/modifier"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a class="btn btn-danger" (click)="deleteIntervention(i)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
    </tbody>
</table>
